{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
    .address-header {
        padding: 50px 30px 30px 30px;
        background-image: url("{% static "img/study.jpeg" %}");
        background-position: top center;
        background-size: cover;
        height: 200px;
        opacity: 0.8;
    }

    .thead,
    tr {
        text-align: center;
    }

    .address-table {
        padding: 30px;
    }

    .profile-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .select-section {
        text-align: end;
        padding: 50px 30px 10px 0;
    }

    select {
        width: 150px;
        height: 30px;
    }

    i{
        letter-spacing: -15px;
    }


</style>

<div class="member-address">
    <div class="address-header">
        <h3>멤버 주소록</h3>
        <p>피로그래밍 참여 회원 주소록입니다.</p>
    </div>
    <div class="select-section">
        <select name="select" onchange="javascript:selectIndex(this)">
            <option value="0" selected>기수 선택</option>
            <option value="1">1기</option>
            <option value="2">2기</option>
            <option value="3">3기</option>
        </select>
    </div>
    <div class="address-table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">기수</th>
                    <th scope="col">회원정보</th>
                    <th scope="col">연락처</th>
                    <th scope="col">직업</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12기</td>
                    <td>
                        <span class='img'><img class="profile-img" src="https://www.w3schools.com/w3css/img_avatar3.png"
                                alt="">
                        </span>
                        <span class='name'>&nbsp;김땡땡</span>
                    </td>
                    <td class='contact'>
                        <p class='phone'><i class="fas fa-mobile-alt"></i>010-0000-0000</p>
                        <p class='e-mail'><i class="fas fa-at"></i>01234@gmail.com</p>
                    </td>
                    <td>백엔드 개발자</td>
                </tr>
                <tr>
                    <td>11기</td>
                    <td>
                        <span class='img'><img class="profile-img" src="https://www.w3schools.com/w3css/img_avatar3.png"
                                alt="">
                        </span>
                        <span class='name'>&nbsp;박땡땡</span>
                    </td>
                    <td class='contact'>
                        <p class='phone'><i class="fas fa-mobile-alt"></i>010-0000-0000</p>
                        <p class='e-mail'><i class="fas fa-at"></i>01234@gmail.com</p>
                    </td>
                    <td>프론트엔드 개발자</td>
                </tr>
                <tr>
                    <td>10기</td>
                    <td>
                        <span class='img'><img class="profile-img" src="https://www.w3schools.com/w3css/img_avatar3.png"
                                alt="">
                        </span>
                        <span class='name'> &nbsp;윤땡땡</span>
                    </td>
                    <td class='contact'>
                        <p class='phone'><i class="fas fa-mobile-alt"></i>010-0000-0000</p>
                        <p class='e-mail'><i class="fas fa-at"></i>01234@gmail.com</p>
                    </td>
                    <td>Product Manager</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}