{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
    .album-content {
        padding: 30px;
    }

    .album-header {
        padding: 50px 30px 30px 30px;
        background-image: url("{% static "img/polaroid.png" %}");
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(249, 249, 249);
        height: 200px;
        opacity: 0.7;
        color: black;
    }

    img{
    background:#000; 
    border:solid #fff;
    border-width:6px 6px 40px 6px;
    box-shadow:1px 1px 5px #333; 
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
    height:250px;
    width:200px; 
    margin: 10px;
}

    .album-footer{
        text-align: end;
    }

    .photo-wrap{
        text-align: center;
    }

</style>


<!-- <script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>

<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" /> -->


<div class="container">
    <div class="album-header">
        <h3>피로그래밍 활동</h3>
        <p>주차별 활동을 사진으로 확인하세요!</p>
    </div>
    <div class="album-content">
        <div class="album-title">
            <hr>
            <p>앨범제목</p>
            <hr>
            <p>작성일자</p>
            <hr>
            <p>상세설명 및 기타내용</p>
            <hr>
        </div>
        <div class="photo-wrap">
            <img src="{% static "img/lecture.jpg" %}" alt="">
            <img src="{% static "img/study-meeting.jpg" %}" alt="">
            <img src="{% static "img/study.jpeg" %}" alt="">
            <img src="{% static "img/teamproject.jpg" %}" alt="">
            <img src="{% static "img/lecture.jpg" %}" alt="">
            <img src="{% static "img/study-meeting.jpg" %}" alt="">
            <img src="{% static "img/study.jpeg" %}" alt="">
            <img src="{% static "img/teamproject.jpg" %}" alt="">

        </div>
    </div>
    <hr>
    <div class="album-footer">
        <a href="#" class="btn btn-outline-secondary">목록으로</a>
    </div>
    <hr>
</div>

{% endblock %}