{% extends 'base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "css/lightbox.css" %}">
<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">

<style>
 
    .album-header {
        padding: 0;
        margin: 0;
        background-color:rgb(241, 241, 240);
        height: 400px;
        color: black;
        text-align:end;
        font-size: 100px;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: bold;
    }

    .album-content {
        padding: 20px 20px 80px 20px;
    }

    img {
        height: 200px;
        width: 200px;
    }
    
    .photo-wrap{
        text-align: center;
    }

    .album-footer {
        text-align: end;
        padding-bottom: 30px;
    }

    .album-title{
        font-family: 'Yeon Sung', cursive;
        font-size: 40px;
        letter-spacing: 3px;
        text-decoration: underline;
    }

    .album-date {
        text-align: end;
        font-family: 'Yeon Sung', cursive;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .photo-set {
        background: #000;
        border: solid #fff;
        border-width: 6px 6px 40px 6px;
        box-shadow: 1px 1px 5px #333;
        -webkit-box-shadow: 1px 1px 5px #333;
        -moz-box-shadow: 1px 1px 5px #333;
        height: 250px;
        width: 200px;
        margin: 10px;
        float: left;
    }

    #polaroid {
        width: 100%;
        overflow: hidden;
    }

    #polaroid figure {
        float: left;
        position: relative;
        width: 200px;
        margin: 10px 10px;
        display: block;
    }

    #polaroid figure {
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        transform: rotate(-1deg);
        -webkit-backface-visibility: hidden;
    }

    #polaroid figure:nth-child(even) {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        transform: rotate(2deg);
    }
</style>


<div class="album-container">
    <div class="album-header">
        <p>PHOTO &nbsp;</p>
    </div>
    <div class="album-content">
        <table class="table table-borderless">
            <thead>
                <tr class="album-title">
                    <td>피로그래밍 3주차 활동</td>
                </tr>
                <tr class="album-date">
                    <td>2020.01.16.</td>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    <div class="photo-wrap" id="polaroid">
                        <figure>
                            <a class="photo" href="{% static "img/lecture.jpg" %}" data-lightbox="roadtrip"
                                data-title="피로그래밍 활동사진입니다.">
                                <img class="photo-set" src="{% static "img/lecture.jpg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/study-meeting.jpg" %}" data-lightbox="roadtrip"
                                data-title="화목토 정규모임을 갖습니다.">
                                <img class="photo-set" src="{% static "img/study-meeting.jpg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/study.jpeg" %}" data-lightbox="roadtrip"
                                data-title="활동은 선배기수의 강의와 스터디로 이루어집니다.">
                                <img class="photo-set" src="{% static "img/study.jpeg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/teamproject.jpg" %}" data-lightbox="roadtrip"
                                data-title="기타내용">
                                <img class="photo-set" src="{% static "img/teamproject.jpg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/lecture.jpg" %}" data-lightbox="roadtrip"
                                data-title="lightbox2">
                                <img class="photo-set" src="{% static "img/lecture.jpg" %}" alt="" />
                            </a>
                        </figure>

                        <figure>
                            <a class="photo" href="{% static "img/study-meeting.jpg" %}" data-lightbox="roadtrip"
                                data-title="피로그래밍 홈페이지">
                                <img class="photo-set" src="{% static "img/study-meeting.jpg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/study.jpeg" %}" data-lightbox="roadtrip"
                                data-title="이에이에오">
                                <img class="photo-set" src="{% static "img/study.jpeg" %}" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a class="photo" href="{% static "img/teamproject.jpg" %}" data-lightbox="roadtrip"
                                data-title="마지막 사진입니다.">
                                <img class="photo-set" src="{% static "img/teamproject.jpg" %}" alt="" />
                            </a>
                        </figure>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="album-footer">
            <tr>
                <td><a href="#" class="btn btn-outline-secondary">목록으로</a></td>
            </tr>
        </tfoot>
        </table>
    </div>
</div>


<script src="{% static "js/lightbox-plus-jquery.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'maxWidth': 600,
        'maxHeight': 600,
    })
</script>

{% endblock %}