{% extends 'base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "css/lightbox.css" %}">

<style>
    
    .album-content {
        padding: 50px;
    }

    .album-header {
        padding: 50px 30px 30px 30px;
        background-image: url("{% static "img/polaroid.png" %}");
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        opacity: 0.7;
        color: black;
        background-color: #F9F9F9;
    }

    .album-title {
        text-align: center;
        background-color: rgba(37, 204, 160, 0.3);
        font-weight:500;
    }

    .album-date {
        text-align: end;
    }

    .photo-wrap{
        text-align: center;
    }
    .photo-set {
        height: 250px;
        width: 250px;
        margin: 10px;
        border-radius: 3%;
    }

    .album-footer {
        text-align: end;
    }
</style>

<div class="album-container">
    <div class="album-header">
        <h3>피로그래밍 활동</h3>
        <p>주차별 활동을 사진으로 확인하세요!</p>
    </div>
    <div class="album-content">
        <table class="table">
            <thead>
                <tr class="album-title">
                    <td>피로그래밍 3주차 활동</td>
                </tr>
                <tr class="album-date">
                    <td>2020.01.16.</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="photo-wrap" id="polaroid">
                            <a class="photo" href="{% static "img/lecture.jpg" %}" data-lightbox="roadtrip"
                                data-title="피로그래밍 활동사진입니다.">
                                <img class="photo-set" src="{% static "img/lecture.jpg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/study-meeting.jpg" %}" data-lightbox="roadtrip"
                                data-title="화목토 정규모임을 갖습니다.">
                                <img class="photo-set" src="{% static "img/study-meeting.jpg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/study.jpeg" %}" data-lightbox="roadtrip"
                                data-title="활동은 선배기수의 강의와 스터디로 이루어집니다.">
                                <img class="photo-set" src="{% static "img/study.jpeg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/teamproject.jpg" %}" data-lightbox="roadtrip"
                                data-title="기타내용">
                                <img class="photo-set" src="{% static "img/teamproject.jpg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/lecture.jpg" %}" data-lightbox="roadtrip"
                                data-title="lightbox2">
                                <img class="photo-set" src="{% static "img/lecture.jpg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/study-meeting.jpg" %}" data-lightbox="roadtrip"
                                data-title="피로그래밍 홈페이지">
                                <img class="photo-set" src="{% static "img/study-meeting.jpg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/study.jpeg" %}" data-lightbox="roadtrip"
                                data-title="이에이에오">
                                <img class="photo-set" src="{% static "img/study.jpeg" %}" alt="" />
                            </a>
                            <a class="photo" href="{% static "img/teamproject.jpg" %}" data-lightbox="roadtrip"
                                data-title="마지막 사진입니다.">
                                <img class="photo-set" src="{% static "img/teamproject.jpg" %}" alt="" />
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="album-footer">
                <tr>
                    <td><a href="#" class="btn btn-outline-secondary">목록으로</a></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script src="{% static "js/lightbox-plus-jquery.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'maxWidth': 600,
        'maxHeight': 600,
    })
</script>

{% endblock %}