<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <!--    css- 추후 별도 분리-->
    <style>
        /* body {
            background-color: rgb(44, 62, 82);
        } */

        .navbar {
            background-color: rgba(37, 204, 160);
        }

        .nav-link,
        .navbar-logo,
        a {
            color: black;
        }

        footer {
            margin-top: 20px;
        }

        .contact {
            text-align: center;
        }

        i {
            margin-right: 30px;
        }

        scroll-container {
            display: block;
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
    </style>


    <title>P.rogramming 홈페이지!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark" id="navbar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img src="#" alt="piro_logo">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="option1" href="#about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#activity" id="option2">ACTIVITY </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#port" id="option3">PORTFOLIO </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="option4">RECRUITMENT </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#board" id="option5">BOARD </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="sign-up">
                    <li class="nav-item"><a class="nav-link"><i class="fas fa-user"></i>SIGN UP</a></li>
                    <li class="nav-item"><a class="nav-link"><i class="fas fa-sign-in-alt"></i>LOGIN</a></li>
                </ul>
            </div>
        </nav>




    </header>
    {% block content %}
    <main>
        <scroll-container>
            <scroll-page id="page-1"></scroll-page>
            {% include 'about.html' %}
            <scroll-page id="page-2"></scroll-page>
            {% include 'activity.html' %}
            <scroll-page id="page-3"></scroll-page>
            {% include 'portfolio.html' %}

    </main>
    {% endblock %}

</body>
<div id="foot">
    <div class="footer-buffer"></div>
    <div class="contact">
        <a href="https://www.facebook.com/p.rogramming3k/" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="mailto:pirogramming@gmail.com">
            <i class="fas fa-envelope fa-2x"></i>
        </a>
    </div>
    <footer class="container-fluid  d-flex flex-column justify-content-center">
        <div class="row d-flex justify-content-center">
            &copy피로그래밍 | 회장 : 정성모 | 연락처: 010-1234-5678
        </div>
        <div class="row mt-1 d-flex justify-content-center" style="margin-bottom: 1%">
            서울특별시 관악구 관악로 1, 서울대학교 벤처경영 교육 및 연구 동아리
        </div>
    </footer>
</div>

</html>