<style>
    .portfolio{
        background-color: rgba(37, 204, 160);
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    img{
        margin:10px;
    }
</style>


<div class="portfolio">
<p>12기까지 총 x개의 프로젝트가 완료되었습니다.</p>
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">
    <img src="https://yt3.ggpht.com/a/AGF-l785mNl8UGV5i3DeCjBxNngKDLCAo1t3Sc1Xtg=s900-c-k-c0xffffffff-no-rj-mo" 
        width="50" height="50" style="border-radius: 50%" alt="">

</div>